@charset "UTF-8";
#menu {
	height: 38px;
	width: auto;
	clear: both;
	background-image: url(../images/menu-background.png);
	padding-top: 7px;
}
#menu table {
	color: rgba(144,144,144,1.00);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 14px;
	text-decoration: none;
}
#menu table a{
	color: rgba(144,144,144,1.00);
	text-decoration: none;
}
#menu table a:hover{
	color: rgba(77,77,77,1.00);
	text-decoration: none;
}

